<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/x-icon" href="data:image/x-icon;,">
  <title>{{title}}</title>
  <link href="/css/reset.css" rel="stylesheet" />
  <style>
    header nav ul {
      display: flex;
      gap: 1rem;

      padding-inline-start: 0;
      padding-left: 0;
      padding-right: 0;
    }

    header nav ul li {
      list-style: none;

      margin-inline-start: 0;
      margin-left: 0;
      margin-right: 0;
    }
  </style>
</head>
<body class="dx-viewport">
  {{> main/header }}

  {{{body}}}
</body>
<script src="/dev-live-reload.js"></script>
</html>
