<form method="post">
  <fieldset>
    <label>
      Username:
      <input type="text" name="username" value="john.doe">
    </label>

    <label>
      Password:
      <input type="password" name="password" value="john.doe">
    </label>
  </fieldset>

  <button type="submit">
    Login
  </button>
</form>
