<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/x-icon" href="data:image/x-icon;,">
  <title>{{title}}</title>
</head>
<body class="dx-viewport">
  <form action="/logout" method="post">
    <input type="submit" value="Logout">
  </form>
  {{{@body}}}
</body>
<script src="/dev-live-reload.js"></script>
</html>
